@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border: 0px;
  margin: 0px;
  font-family: "League Spartan";
}

body {
  background-color: hsl(180, 31%, 95%);
}
