@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border: 0px;
  margin: 0px;
}

.header-bg-color {
  background: hsl(180, 23%, 70%);
}

body {
  background-color: hsl(180, 31%, 95%);
}
